.header-menu {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.664)
  );
  padding: 10px 3rem;
  // position: fixed;
  // width: 100%;

  .menu .item {
    color: #ffffff !important;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 15px;
    line-height: 0.9375rem;
    letter-spacing: 0.03125rem;
    text-transform: uppercase !important;
  }
  .menu .active.item {
    background: none !important;
    color: #ffffff !important;
  }
  .active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    height: 0.125rem;
    background: rgba(0, 163, 218, 0);
    -webkit-transition: background-color 0.08s ease-out;
    transition: background-color 0.08s ease-out;
    background-color: #00a3da;
  }
}
